name: CMake on a single platform

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install SDL3
      run: |
        sudo apt-get update
        sudo apt-get install -y libsdl3-dev

    - name: Configure CMake
      working-directory: src
      run: cmake -B build -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}

    - name: Build
      working-directory: src
      run: cmake --build build --config ${{ env.BUILD_TYPE }}

    - name: Test
      working-directory: src/build
      run: ctest -C ${{ env.BUILD_TYPE }}
