name: CMake on a single platform

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - uses: libsdl-org/setup-sdl@main
      id: sdl
      with:
          install-linux-dependencies: true
          version: 3-latest
          version-sdl-image: 3-latest
          
    - name: 'Configure and build your project'
      run: |
          cmake -S . -B build
          cmake --build build --verbose

    - name: Configure CMake
      working-directory: src
      run: cmake -B build -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}

    - name: Build
      working-directory: src
      run: cmake --build build --config ${{ env.BUILD_TYPE }}

    - name: Test
      working-directory: src/build
      run: ctest -C ${{ env.BUILD_TYPE }}
