name: formatting


on:
  push:

jobs:
  format:
    runs-on: ubuntu-latest

    steps:      
      
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      

      - name: Install clang-format
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format

      - name: Run clang-format
        run: |
          find . \( -name "*.cpp" -o -name "*.h" \) \
            -print0 | xargs -0 clang-format -style=Google -i


      - name: Commit format changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: format clang files with cmake-format"
